/* generics */
* {
    font-family: 'Arial', sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    background-color: #f6f8f9;
}

/* logo e titolo */

header{
    margin-bottom: 50px;
}

.titolo {
    background-color: white;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 25px;  
}

#logo {
    vertical-align: middle;
    height: 50px;  

}

h1{
    display: inline;
    font-weight: bold;
    font-size: 40px;
    vertical-align: middle
}


/* contenitore */


.container {
    margin-bottom: 100px;
    border-radius: 15px;
    background-color: white;
    width: 800px;
    
}

.mini-container {

    background-color: white;
    border-radius: 10px 10px 0 0;
    border-bottom: 5px solid #f6f8f9;
}

span{
    font-size: 12px;
    padding-left: 0px;
}

.button {
    border-radius: 10px 10px 0 0;
    background-color: #FFF;
    padding: 20px;
    margin-left: 35px;
}

#add-task{
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    background-color: rgb(52, 174, 214);
    color: white;
    font-weight: normal;
}
#add-section{
    color: lightgrey;
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 5px 15px 5px 15px;  
} 




.sottotitolo {
    padding-top: 25px;
    padding-left: 50px;
    font-size: 25px;
}

.verde {
    border: 2px solid lightgreen;
    color: lightgreen;
    border-radius: 50%;
    padding: 4px;

}

.rosso {
    border: 2px solid red;
    color: red;
    border-radius: 50%;
    padding: 4px;
}

.editorial {
    display: inline;
    font-size: 11px;
    border: 1px solid #45ABEA;
    background-color: #45ABEA;
    border-radius: 10px;
    padding: 5px;
    color: white;
}

.recruit {
    display: inline;
    font-size: 11px;
    border: 1px solid #64C0A9;
    background-color: #64C0A9;
    border-radius: 10px;
    padding: 5px;
    color: white;
}

#q1-goals{
    display: inline;
    font-size: 11px;
    border: 1px solid #9C72E4;
    background-color: #9C72E4;
    border-radius: 10px;
    padding: 5px;
    color: white;
}

.mobile {
    display: inline;
    font-size: 11px;
    border: 1px solid #F29E33;
    background-color: #F29E33;
    border-radius: 10px;
    padding: 5px;
    color: white;
}
.website{
    display: inline;
    font-size: 11px;
    border: 1px solid #D863A1;
    background-color: #D863A1;
    border-radius: 10px;
    padding: 5px;
    color: white;
}
.sales {
    display: inline;
    font-size: 11px;
    border: 1px solid #B0C926;
    background-color: #B0C926;
    border-radius: 10px;
    padding: 5px;
    color: white;
}

.font {
    font-size: 20px;
    padding-left: 10px;
}

.class {
    line-height: 20px;
}

section {
    line-height: 250%;
    padding-bottom: 25px;
}